<div class="d-flex align-content-start flex-wrap">
  <ng-container *ngFor="let matchScore of matchScores; odd as isOdd; even as isEven">
    <div
      class="card flex-fill ml-3 mt-3"
      [ngClass]="{ 'bg-light': isOdd, 'text-white bg-secondary': isEven }"
      *ngIf="matchScore"
      style="max-width: 365px"
    >
      <div class="card-header">
        <h6>{{ matchScore.homeTeam }} vs {{ matchScore.visitorTeam }}</h6>
        <small> {{ matchScore.venue }}, {{matchScore.playedDate | date}}</small>
        <!-- {{ matchScore.playedOn | date }}  -->
      </div>
      <div class="card-body">
        <app-team-score
          *ngIf="showTeam == '' || showTeam == matchScore.homeTeam"
          [team]="matchScore.homeTeamScoreCard"
          [teamName]="matchScore.homeTeam"
        ></app-team-score>
        <app-team-score
          *ngIf="showTeam == '' || showTeam == matchScore.visitorTeam"
          [teamName]="matchScore.visitorTeam"
          [team]="matchScore.visitorTeamScoreCard"
        ></app-team-score>
      </div>
    </div>
  </ng-container>
</div>
