<div class="row justify-content-center">{{ teamName }} - {{ teamScore }}</div>
<hr class="m-1" />
<div class="row m-0">
  <div class="float-left col" *ngIf="team && team.batsmen">
    <div *ngFor="let player of team.batsmen" class="row">
      <img
        src="../../../../assets/img/avtar/avatar2.png"
        class="rounded-circle float-left img-thumbnail profile"
        alt="..."
        width="25"
        height="25"
      />
      <div class="float-right ml-4">
        <div class="row text-nowrap">
          <small>{{ player.name }}</small>
        </div>
        <div class="row fs-6">
          <small>{{ player.run }}({{ player.balls }})</small>
        </div>
      </div>
    </div>
  </div>
  <div class="float-right col" *ngIf="team && team.bowlers">
    <div *ngFor="let player of team.bowlers" class="row">
      <img
        src="../../../../assets/img/avtar/avatar2.png"
        class="rounded-circle float-left img-thumbnail profile"
        alt="..."
        width="25"
        height="25"
      />
      <div class="float-right ml-4">
        <div class="row text-nowrap">
          <small>{{ player.name }}</small>
        </div>
        <div class="row">
          <small>{{ player.run }}/{{ player.wicket }} ({{ player.over }})</small>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="m-1" />
