<div class="row">
  <h6>{{ team.team }}</h6>
</div>
<div class="row">
  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th>Batsman</th>
        <th>Runs(Balls)</th>
        <!-- <th>4s</th>
        <th>6s</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of team.batsmen">
        <td>
          {{ player.playerName }}
        </td>
        <td>{{ player.runs }}({{ player.balls }})</td>
        <!-- <td>{{ player.fours }}</td>
        <td>{{ player.sixes }}</td> -->
      </tr>
    </tbody>
  </table>
</div>
<div class="row"></div>
<div class="row">
  <table class="table table-striped table-hover table-sm">
    <tr>
      <th>Bowler</th>
      <th>Runs(Balls)</th>
      <!-- <th>Balls</th> -->
      <!-- <th>Fours</th>
      <th>Sixes</th>-->
      <th>Wicket</th>
    </tr>
    <tbody>
      <tr *ngFor="let player of team.bowlers">
        <td>
          {{ player.playerName }}
        </td>
        <td>{{ player.runs }}({{ player.balls }})</td>
        <!-- <td>{{ player.fours }}</td>
        <td>{{ player.sixes }}</td>-->
        <td>{{ player.wickets }}</td>
      </tr>
    </tbody>
  </table>
</div>
